.quotations {
  margin-top: 50px;
}

.btn_fixed {
  width: 160px;
  text-align: center;
  font-weight: bold;
}
.form-control[readonly] {
  background: #F6A828;
}

.form-control[readonly]:hover {
  background: #E69E29;
}

.grey_tr {
  background: #eee;
}